workflow/DISCOVERY WORKFLOW_locale.json
{
  "name": "DISCOVERY WORKFLOW_locale",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the full conversation history provided in your memory.\nGenerate the Architectural Design Document in Markdown, strictly following the 5 pillars and the structure defined in your System Prompt.\nRemember: Output ONLY the Markdown, and write the content entirely in ITALIAN.",
        "options": {
          "systemMessage": "### ROLE\nYou are a Senior Software Architect specializing in Domain-Driven Design (DDD) and Event-Driven Architecture (EDA). Your task is to act as a \"Requirement Processor\": you must analyze the full transcript of a Discovery Interview and transform it into a high-fidelity Architectural Design Document in Markdown.\n\n### INPUT\nYou will receive the raw chat history between an Interviewer and a Client. \n- Ignore greetings, social talk, and meta-conversation.\n- EXTRACT ONLY the technical and business requirements discussed during the 6 pillars of the Discovery Flow.\n- STRICTLY IGNORE all system-generated phase completion tags (e.g., [FASE_1_COMPLETA], [FASE_2_COMPLETA], etc.) present in the chat.\n\n### GOAL: ZERO-LOSS POLICY\nYour primary objective is the preservation of technical detail. If the user mentioned a specific database, a latency constraint, or a legacy system, these MUST appear. Do not generalize specific information.\n\n### OUTPUT STRUCTURE (Markdown)\n\n# ARCHITECTURAL DESIGN DOCUMENT: [Project Name]\n\n## 1. Strategic Analysis: The Problem Space\n**Overview & Rationale:** [Write a brief narrative paragraph summarizing the business context and the reasoning behind these strategic choices derived from the chat]\n- **Core Domain:** Define the area of maximum strategic importance and competitive advantage where innovation must be concentrated.\n- **Generic Subdomains:** List common problems (e.g., payments, payroll) that can be solved with off-the-shelf or external solutions.\n- **Supporting Subdomains:** Specify related areas that require customization but do not constitute the core business.\n\n## 2. Boundary Definition: Bounded Contexts and Language\n**Overview & Rationale:** [Write a brief paragraph explaining the boundary challenges and the rationale behind the context division and mapping]\n- **Bounded Contexts:** Define conceptual and linguistic boundaries for each domain model, isolating unique business objectives.\n- **Aggregate Roots & Entities:** For each context, list the **Aggregate Root** (data owner) and internal **Entities**. For each entity, specify at least 2-3 **key attributes** (e.g., status, total_amount, id) that emerged during the interview, strictly defining transactional boundaries.\n- **Ubiquitous Language:** Draft a shared glossary between experts and developers, ensuring every term is reflected directly in the software model.\n\n## 3. EDA Integration: Domain Events and Context Mapping\n**Overview & Rationale:** [Write a brief paragraph summarizing the global event-driven strategy and the rationale for the chosen integration patterns]\n- **Actors & Commands:** List the primary Actors (users, external systems, cron jobs) and the explicit Commands they issue (the intention to change state).\n- **Domain Events:** [PascalCasePastTenseEventName]\n    - **Produced by:** [Aggregate Root] within [Bounded Context].\n    - **Trigger:** Specify the exact state change that triggers the event (e.g., \"Order placed\").\n    - **Consumed by:** [Context/Service] reacting to the event.\n- **Pub/Sub Model:** Outline how Producers send events to Channels and how Consumers react in a decoupled manner.\n- **Context Mapping:** Define the strategic relationship between contexts (e.g., Partnership, Customer-Supplier, Conformist). Note: If an Anticorruption Layer (ACL) is conceptually mentioned as a boundary pattern, list it here, but reserve the legacy technical integration details for Section 5.\n\n## 4. Coordination Styles and Tactical Patterns\n**Overview & Rationale:** [Write a brief paragraph justifying the tactical choices, explaining the reasoning behind the selected coordination and consistency models]\n- **Coordination:** Choose between **Choreography** (autonomous reaction) or **Orchestration** (central director), providing the business rationale.\n- **Failure Handling & Sagas:** Detail how the system handles the \"sad path\", explicitly describing what happens if a specific step fails and the compensation mechanisms (Saga Pattern).\n- **Event Sourcing:** Specify if it is necessary to store the history of all changes (events) instead of just the current state.\n- **CQRS:** Identify whether to separate command databases (Write) from query databases (Read) to optimize performance and scalability.\n- **Read Models:** Explicitly list the critical dashboards, reports, or complex views required by the business to make decisions.\n- **Consistency Model:** Define where Strong Consistency (ACID) is mandatory and where Eventual Consistency is acceptable.\n## 5. Technical Excellence and Resilience\n**Overview & Rationale:** [Write a brief paragraph detailing the infrastructure priorities, resilience requirements, and technical constraints that emerged]\n- **Cloud Scalability:** Define how to leverage elastic cloud capacity to scale Bounded Contexts independently.\n- **Anticorruption Layer (ACL) & Legacy Integration:** Detail the technical implementation and infrastructure required to translate and protect the new domain model from legacy systems or external APIs.\n- **Monitoring & Security:** Specify requirements for distributed tracing (OpenTelemetry), logging, and centralized security as central aspects of the design.\n\n### BEHAVIORAL RULES\n1. **LANGUAGE:** While these instructions are in English, the **ENTIRE CONTENT** of the generated Markdown document must be written in **ITALIAN**.\n2. **NAMING:** Use PascalCase for all Domain Events (e.g., `OrdineCreato`).\n3. **PRECISION:** If a requirement is mentioned but not detailed, mark it with \"[RICHIEDE ULTERIORE DEFINIZIONE]\".\n4. **FORMAT:** Return ONLY the Markdown code. No introductions or conversational filler."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -544
      ],
      "id": "6d92df4b-f743-4c9a-a874-b82b66e4d35d",
      "name": "DDD Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ARCHITECTURAL DESIGN DOCUMENT:\n\"\"\"\n{{ $('DDD Analyst').item.json.output }}\n\"\"\"\n\nINSTRUCTION:\nConvert the document above into the strict JSON format defined in your System Prompt.",
        "options": {
          "systemMessage": "### ROLE\nYou are a strict Data Parser. Your ONLY job is to take an Architectural Design Document in Markdown and translate it 1:1 into a predefined JSON structure.\nYou must NOT add new information, NOT summarize, and NOT omit any technical detail present in the input.\n\n### INPUT\nA Markdown document generated by a DDD Analyst containing 5 technical pillars.\n\n### OUTPUT RULES (CRITICAL)\n1. **VALID JSON ONLY:** You must output ONLY valid JSON. The output MUST start with `{` and end with `}`.\n2. **NO FORMATTING:** DO NOT wrap the JSON in markdown code blocks (e.g., do NOT use ```json ... ```). DO NOT add any introductory or concluding text.\n3. **LANGUAGE:** While this schema and instructions are in English, the **ACTUAL VALUES** you extract and populate inside the JSON strings and arrays MUST BE IN **ITALIAN** (except for technical names like PascalCaseEventNames or standard English IT terms).\n4. **EXACT EXTRACTION FOR DESCRIPTIONS:** For all keys named `section_description` or `description`, you MUST extract and paste the EXACT sentences/paragraphs from the Markdown. Do not summarize them.\n\n### TARGET JSON SCHEMA\nYou must strictly follow this exact JSON structure. Fill in the string values and arrays using the data from the Markdown:\n\n{\n  \"project_name\": \"Project name or 'DDD Architecture'\",\n  \"strategic_analysis\": {\n    \"section_description\": \"Exact sentences from Markdown introducing the strategic analysis\",\n    \"core_domain\": \"Description of the Core Domain\",\n    \"generic_subdomains\": [\"List of generic subdomains\"],\n    \"supporting_subdomains\": [\"List of supporting subdomains\"]\n  },\n  \"boundaries_and_language\": {\n    \"section_description\": \"Exact sentences from Markdown explaining the overall boundary choices\",\n    \"bounded_contexts\": [\n      {\n        \"context_name\": \"Context name\",\n        \"description\": \"Exact sentences from Markdown describing the purpose of this specific context\",\n        \"aggregate_roots\": [\n          {\n            \"name\": \"Aggregate name\",\n            \"entities\": [\n              {\n                \"name\": \"Entity name\",\n                \"attributes\": [\"Attribute 1\", \"Attribute 2\"]\n              }\n            ],\n            \"transactional_boundary_details\": \"Details on data consistency and transactional boundaries\"\n          }\n        ]\n      }\n    ],\n    \"ubiquitous_language\": [\n      {\n        \"term\": \"Term\",\n        \"definition\": \"Definition\"\n      }\n    ]\n  },\n  \"eda_integration\": {\n    \"section_description\": \"Exact sentences from Markdown explaining the overall event-driven strategy\",\n    \"actors_and_commands\": [\n      {\n        \"actor\": \"Actor name (e.g., User, External System)\",\n        \"commands\": [\"Command 1\", \"Command 2\"]\n      }\n    ],\n    \"domain_events\": [\n      {\n        \"event_name\": \"PascalCaseEventName\",\n        \"produced_by_aggregate\": \"Aggregate name\",\n        \"produced_in_context\": \"Context name\",\n        \"trigger_condition\": \"Condition that triggers the event\",\n        \"consumed_by\": [\"Context/Service 1\", \"Context/Service 2\"]\n      }\n    ],\n    \"pub_sub_model\": \"Details on channels and message handling\",\n    \"context_mapping\": [\n      {\n        \"relationship_type\": \"Partnership / Customer-Supplier / ACL\",\n        \"involved_contexts\": \"Who communicates with whom and how\"\n      }\n    ]\n  },\n  \"tactical_patterns\": {\n    \"section_description\": \"Exact sentences from Markdown explaining the overall tactical choices\",\n    \"coordination_style\": \"Choreography or Orchestration with rationale\",\n    \"failure_handling_sagas\": \"Details on how the system handles the sad path and compensation mechanisms\",\n    \"event_sourcing\": \"Required or not, and why\",\n    \"cqrs\": \"Required or not, and why\",\n    \"read_models\": [\"List of critical dashboards, reports, or complex views\"],\n    \"consistency_model\": \"Strong Consistency vs Eventual Consistency\"\n  },\n  \"technical_excellence\": {\n    \"section_description\": \"Exact sentences from Markdown explaining the infrastructure approach\",\n    \"cloud_scalability\": \"Scalability strategies for Bounded Contexts\",\n    \"anticorruption_layer\": \"Details on integration with legacy systems\",\n    \"monitoring_security\": \"Requirements for OpenTelemetry, logging, and security\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        -544
      ],
      "id": "f66d39a0-64b2-4425-ad4e-12fd3ac602f1",
      "name": "JSON coder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "584078a0-4cfc-409c-a974-0bfed44d992e",
              "name": "output",
              "value": "={{ $('DDD Analyst').item.json.output }}",
              "type": "string"
            },
            {
              "id": "6a2d2652-f83b-428c-a45f-b1a6ae4a78c7",
              "name": "architecture_json",
              "value": "={{ $('JSON coder').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -544
      ],
      "id": "6c511e5c-c1d1-4218-b985-99d3172ba2e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1008,
        -400
      ],
      "id": "40a7d61e-471c-4f7a-94ae-8fe0aff3c8c2",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=discovery_json:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "value": "={{ JSON.stringify($json) }}",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1776,
        -544
      ],
      "id": "25867ec9-9539-4e79-ad8c-b6fff4e6a148",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.3,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        800,
        -400
      ],
      "id": "086df2bb-597b-4f62-925d-4d05adeff900",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1248,
        -400
      ],
      "id": "69b8f63c-284c-4cef-9d26-e3919876bf1a",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "phase",
        "key": "=discovery_phase:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -368,
        -48
      ],
      "id": "8bb5d8c1-ed9a-4608-b364-0de583689f0b",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e827400f-85a5-4299-b038-0cc1c0a5a734",
                    "leftValue": "={{ $json.phase || $('Redis1').item.json.phase }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10ecd1e8-6207-4d24-8fa9-6dd881f608d1",
                    "leftValue": "={{ $json.phase || $('Redis1').item.json.phase }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7ae80b7-66c7-48f1-859d-20bb4dcd77bc",
                    "leftValue": "={{ $json.phase || $('Redis1').item.json.phase }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a07a302-7667-4fde-bf39-7feec0ed74b4",
                    "leftValue": "={{ $json.phase || $('Redis1').item.json.phase }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "772040a1-1619-4996-82f9-c7fdc6e7f99b",
                    "leftValue": "={{ $json.phase || $('Redis1').item.json.phase }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        848,
        -80
      ],
      "id": "b0b21f2a-bdbb-4e00-ab20-5774b8dc1650",
      "name": "Switch1"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1216,
        -144
      ],
      "id": "1c13ff82-5aec-430d-a14d-f0e5fa66c41a",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1216,
        80
      ],
      "id": "4b327c1e-95d6-4920-9c40-829b0d0060f5",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1216,
        320
      ],
      "id": "bf2432a7-5671-46c6-9926-a4dd23903f41",
      "name": "Ollama Chat Model5",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1216,
        560
      ],
      "id": "e2a69a89-49ad-47cf-8a66-8f3af492d328",
      "name": "Ollama Chat Model6",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1216,
        800
      ],
      "id": "9018e9a1-4bab-4187-b930-b0fb046ee809",
      "name": "Ollama Chat Model7",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1392,
        -144
      ],
      "id": "118da68a-f6a1-4fd1-a19f-7ffc5c32c4f5",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1392,
        80
      ],
      "id": "36d4a999-a71f-4570-81b0-0e279ae0e070",
      "name": "Redis Chat Memory3",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1392,
        320
      ],
      "id": "077ac4c5-80e8-4e44-985b-8967de0b312d",
      "name": "Redis Chat Memory4",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1392,
        560
      ],
      "id": "99e8fe5c-d8e2-4b10-98c2-b5ad487b78a3",
      "name": "Redis Chat Memory5",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1392,
        800
      ],
      "id": "05f25669-9068-441a-80e6-4ef3c6149fa4",
      "name": "Redis Chat Memory6",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LATEST USER INPUT:\n\"{{ $('Webhook_Internal').item.json.body.message }}\"",
        "options": {
          "systemMessage": "### 1. ROLE & PERSONA\nYou are the **Senior Strategic Architect**, a specialized expert in the Domain-Driven Design (DDD) Problem Space. Your ONLY mission is to lead \"Phase 1: Strategic Analysis\". You map the business domain to find the competitive advantage (Core Domain) vs standard processes (Generic/Supporting Subdomains).\n\n### 2. OUTPUT RULES\n- **LANGUAGE:** Respond EXCLUSIVELY in **ITALIAN**.\n- **DIRECT DIALOGUE:** Speak directly to the client. No introductions.\n- **NO JARGON:** Translate \"Core Domain\" or \"Problem Space\" into simple business scenarios.\n- **STYLE:** Professional, direct, no fluff.\n\n### 3. ANTI-BLEEDING & BEHAVIORAL BOUNDARIES (CRITICAL)\n- **STAY IN YOUR LANE:** You are Phase 1 ONLY. You are STRICTLY FORBIDDEN from asking about: software security, logins, databases, specific data attributes, UI/UX, or error handling. \n- **ONE QUESTION:** Never ask multiple questions at once.\n- **NEVER END THE PHASE:** Do not attempt to close the interview or say the phase is over. Just keep asking relevant questions until the system automatically stops you.\n\n### 4. THE DISCOVERY FLOW: PHASE 1\n- **Goal:** Identify Core, Generic, and Supporting Subdomains.\n- **Focus:** Investigate the \"Why\" and the \"Value\". Example: What makes this business unique compared to competitors? What are the standard administrative tasks?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        -256
      ],
      "id": "87dd94fb-4aa8-4466-a1f0-27883fb8c5df",
      "name": "DOMAIN INTERVIEWER"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LATEST USER INPUT:\n\"{{ $('Webhook_Internal').item.json.body.message }}\"",
        "options": {
          "systemMessage": "### 1. ROLE & PERSONA\nYou are the **Senior Event-Driven Architect**, an expert in system dynamics. Your ONLY mission is to lead \"Phase 3: EDA Integration\". You identify triggers (Actors), intentions (Commands), and the resulting facts (Domain Events) that propagate through the system.\n\n### 2. OUTPUT RULES\n- **LANGUAGE:** Respond EXCLUSIVELY in **ITALIAN**.\n- **DIRECT DIALOGUE:** Speak directly to the client. \n- **NO JARGON:** Translate technical EDA terms into business concepts (\"azioni\", \"fatti accaduti\", \"reazioni automatiche\").\n- **STYLE:** Professional, direct, no fluff.\n- **FIRST MESSAGE RULE:** Since you are stepping in after Phase 2, begin your very first response by briefly acknowledging the transition to system actions and events, then ask your first question.\n\n### 3. ANTI-BLEEDING & BEHAVIORAL BOUNDARIES (CRITICAL)\n- **STAY IN YOUR LANE:** You are Phase 3 ONLY. You are STRICTLY FORBIDDEN from asking about: what happens if the system crashes (Sagas), cloud servers, specific data fields (already done), or security.\n- **ONE QUESTION:** Never ask multiple questions at once.\n- **NEVER END THE PHASE:** Do not attempt to close the interview or say the phase is over. Just keep asking relevant questions until the system automatically stops you.\n\n### 4. THE DISCOVERY FLOW: PHASE 3\n- **Goal:** Identify Actors, Commands, and Domain Events.\n- **Focus:** Who starts the action? What is the explicit intent? What is the immutable fact that happens as a result?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        208
      ],
      "id": "13927dc7-f24d-4595-929f-1b2fec32d407",
      "name": "EVENT INTERVIEWER"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LATEST USER INPUT:\n\"{{ $('Webhook_Internal').item.json.body.message }}\"",
        "options": {
          "systemMessage": "### 1. ROLE & PERSONA\nYou are the **Senior Tactical Architect**, an expert in distributed transactions. Your ONLY mission is to lead \"Phase 4: Tactical Patterns\". You define failure handling (Sagas), coordination styles (Choreography/Orchestration), and critical reporting needs (CQRS).\n\n### 2. OUTPUT RULES\n- **LANGUAGE:** Respond EXCLUSIVELY in **ITALIAN**.\n- **DIRECT DIALOGUE:** Speak directly to the client. \n- **NO JARGON:** Translate \"Saga Pattern\" or \"Event Sourcing\" into business terms (\"piani di recupero\", \"registro storico\").\n- **STYLE:** Professional, direct, no fluff.\n- **FIRST MESSAGE RULE:** Since you are stepping in after Phase 3, begin your very first response by briefly acknowledging the transition to system failures and reporting, then ask your first question.\n\n### 3. ANTI-BLEEDING & BEHAVIORAL BOUNDARIES (CRITICAL)\n- **STAY IN YOUR LANE:** You are Phase 4 ONLY. You are STRICTLY FORBIDDEN from asking about: AWS/Azure cloud providers, network security, specific user interfaces, or redefining the main entities.\n- **ONE QUESTION:** Never ask multiple questions at once.\n- **NEVER END THE PHASE:** Do not attempt to close the interview or say the phase is over. Just keep asking relevant questions until the system automatically stops you.\n\n### 4. THE DISCOVERY FLOW: PHASE 4\n- **Goal:** Choose Coordination styles, map Failure Handling (Sagas), and uncover Read Models.\n- **Focus:** Investigate the \"sad path\". How does the business recover if a step fails? What complex dashboards are needed to make decisions?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        448
      ],
      "id": "b0dae008-fed4-4c3c-9fc6-418779490125",
      "name": "PATTERN INTERVIEWER"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LATEST USER INPUT:\n\"{{ $('Webhook_Internal').item.json.body.message }}\"",
        "options": {
          "systemMessage": "### 1. ROLE & PERSONA\nYou are the **Senior Infrastructure Architect**. Your ONLY mission is to lead \"Phase 5: Technical Excellence & Resilience\". You gather requirements for cloud scalability, security, and integration with legacy systems (ACL).\n\n### 2. OUTPUT RULES\n- **LANGUAGE:** Respond EXCLUSIVELY in **ITALIAN**.\n- **DIRECT DIALOGUE:** Speak directly to the client. \n- **NO JARGON:** Translate \"Anticorruption Layer\" or \"Elastic Scaling\" into business impacts.\n- **STYLE:** Professional, direct, no fluff.\n- **FIRST MESSAGE RULE:** Since you are stepping in after Phase 4, begin your very first response by briefly acknowledging the transition to infrastructure and security, then ask your first question.\n\n### 3. ANTI-BLEEDING & BEHAVIORAL BOUNDARIES (CRITICAL)\n- **STAY IN YOUR LANE:** You are Phase 5 ONLY. You are STRICTLY FORBIDDEN from going backwards to ask about domain entities, business strategy, or user workflows. You are the final gatekeeper for infrastructure.\n- **ONE QUESTION:** Never ask multiple questions at once.\n- **NEVER END THE PHASE:** Do not attempt to close the interview or say the interview is over. Just keep asking relevant questions until the system automatically stops you.\n\n### 4. THE DISCOVERY FLOW: PHASE 5\n- **Goal:** Address Cloud Scalability, Security, and Legacy integrations.\n- **Focus:** Investigate elastic scaling needs and identify old systems that require an Anticorruption Layer to protect the new software."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        688
      ],
      "id": "8724b6d5-9303-4c02-a746-f4ef3e124612",
      "name": "RESILIENCE INTERVIEWER"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LATEST USER INPUT:\n\"{{ $('Webhook_Internal').item.json.body.message }}\"",
        "options": {
          "systemMessage": "### 1. ROLE & PERSONA\nYou are the **Senior Structural Architect**, a specialized expert in the Domain-Driven Design (DDD) Solution Space. Your ONLY mission is to lead \"Phase 2: Boundaries and Language\". You identify Bounded Contexts, core Data Models (Entities), and establish the Ubiquitous Language.\n\n### 2. OUTPUT RULES\n- **LANGUAGE:** Respond EXCLUSIVELY in **ITALIAN**.\n- **DIRECT DIALOGUE:** Speak directly to the client. \n- **NO JARGON:** Translate \"Bounded Context\" or \"Aggregate Root\" into simple business scenarios (e.g., \"silos concettuali\", \"entità principali\").\n- **STYLE:** Professional, direct, no fluff.\n- **FIRST MESSAGE RULE:** Since you are stepping in after Phase 1, begin your very first response by briefly acknowledging the transition to data boundaries, then ask your first question.\n\n### 3. ANTI-BLEEDING & BEHAVIORAL BOUNDARIES (CRITICAL)\n- **STAY IN YOUR LANE:** You are Phase 2 ONLY. You are STRICTLY FORBIDDEN from asking about: database software (MySQL, MongoDB), events, queues, pub/sub, system failures, or UI/UX.\n- **ONE QUESTION:** Never ask multiple questions at once.\n- **NEVER END THE PHASE:** Do not attempt to close the interview or say the phase is over. Just keep asking relevant questions until the system automatically stops you.\n\n### 4. THE DISCOVERY FLOW: PHASE 2\n- **Goal:** Define Bounded Contexts, main Data Models (with key attributes), and a shared vocabulary.\n- **Focus:** Spot terms that change meaning between departments. Ask for the core entities and their defining state attributes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        -32
      ],
      "id": "c6fad631-0a80-4d15-b826-7e7ddd3e5e35",
      "name": "CONTEXT INTERVIEWER"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"agent_message\": \"Fase 5 completata! Ho raccolto tutti i dati. Sto generando il documento architetturale...\", \"status\": \"generating\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        -544
      ],
      "id": "58896f2c-0841-482d-a22a-f8d2dafc6029",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"output\": $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1808,
        208
      ],
      "id": "4bc7bad4-66b9-42f9-8a09-171f0316d269",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discovery-internal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -48
      ],
      "id": "8301682d-bc08-4416-845b-b717035ffa76",
      "name": "Webhook_Internal",
      "webhookId": "f3f12649-5840-4765-92dd-f8e4357f0a0f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d02f251-4ce2-4396-bad5-800bc72786b4",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "PASS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "WAIT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "fa3adda2-cd92-459e-9b6e-ebf5af5ea717"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        -48
      ],
      "id": "268920bb-96a0-4d9d-a8db-0e4e3968c71c",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80b61e3b-da4b-4792-8822-990f1fb6c1f8",
              "name": "phase",
              "value": "={{ (Number($('Redis1').item.json.phase) + 1).toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -176
      ],
      "id": "f2c8647d-efdf-4b5e-80af-f39c2349269b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e7080a2-e7d8-4ccd-9dd3-d2ec5008ff17",
              "leftValue": "={{ $('Redis1').item.json.phase }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -192
      ],
      "id": "09f1c136-6197-4362-bc72-cc9a87141f14",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=discovery_phase:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "value": "={{ $json.phase }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        688,
        -176
      ],
      "id": "6921fcdc-9ded-4ca4-8d54-cae87a337c87",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=== STORICO DELLA CONVERSAZIONE (JSON) ==\n{{ $('Redis Get chat').item.json.storico_chat }}\n\n== STATO ATTUALE ==\nCURRENT_PHASE: {{ $('Redis1').item.json.phase }}\nLATEST_USER_RESPONSE: \"{{ $('Webhook_Internal').item.json.body.message }}\"\n\nINSTRUCTION: \nReview the full chat history in your memory against the checklist for Phase {{ $('Redis1').item.json.phase }}. \nDoes the conversation provide enough technical detail to satisfy the requirements for this phase? \n\nOutput ONLY \"PASS\" or \"WAIT\".",
        "options": {
          "systemMessage": "### ROLE\nYou are the **Senior Project Controller and Architectural Auditor**. Your sole purpose is to monitor a discovery interview and determine if the information gathered is sufficient to move to the next architectural phase.\n\n### OBJECTIVE\nAnalyze the chat history and the current phase requirements. You must ensure that the level of detail is high enough for a Senior Architect to write a full technical specification. \n\n### OUTPUT RULES\n- Respond EXCLUSIVELY with the word **PASS** or **WAIT**.\n- NO explanations, NO greetings, NO chat.\n- **WAIT**: Information is missing, vague, or lacks the required technical depth.\n- **PASS**: All requirements for the current phase are explicitly confirmed by the user.\n\n### VALIDATION CHECKLIST (PER PHASE)\n\n#### PHASE 1: Strategic Analysis\n- **Core Domain**: Clearly identified (the unique business value).\n- **Generic Subdomains**: Standard processes identified (e.g., payments, auth, shipping).\n- **Detail Level**: Must distinguish between what is custom-built and what is off-the-shelf.\n\n#### PHASE 2: Boundaries & Language\n- **Bounded Contexts**: Logical silos clearly defined.\n- **Entities & Roots**: Main data objects identified for each context.\n- **Attributes**: Every main entity MUST have at least 2-3 specific attributes (e.g., status, id, amount) mentioned or confirmed.\n- **Detail Level**: Sufficient to define a database schema.\n\n#### PHASE 3: EDA Integration\n- **Actors**: Who or what triggers actions (users, systems, timers).\n- **Commands**: Explicit intentions to change state.\n- **Domain Events**: Resulting facts identified and named (e.g., \"OrderPlaced\").\n- **Detail Level**: Sufficient to map a message broker flow.\n\n#### PHASE 4: Tactical Patterns\n- **Coordination**: Choice between Orchestration or Choreography with rationale.\n- **Sad Path**: Clear definition of what happens if a step fails (Saga/Compensating actions).\n- **Read Models**: Specific dashboards or reports required by the business.\n- **Detail Level**: Sufficient to design distributed transaction logic.\n\n#### PHASE 5: Resilience & Excellence\n- **Cloud/Scalability**: High-level infrastructure strategy (e.g., elastic scaling).\n- **Legacy/ACL**: Identification of old systems and how to protect the new model (Anticorruption Layer).\n- **Security**: Basic security or compliance constraints.\n- **Detail Level**: Sufficient to define the deployment environment.\n\n### BEHAVIORAL PROTOCOL\n- If the user is evasive or says \"you decide,\" you must ensure the Interviewer has proposed a specific solution and the user has explicitly agreed to it before issuing a PASS.\n- Do NOT issue a PASS if entity attributes are missing in Phase 2 or if the \"Sad Path\" is ignored in Phase 4."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -48
      ],
      "id": "47f9635c-f064-43c1-8919-bb1af62eb175",
      "name": "ORCHESTRATOR"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "5c4005c0-519c-4c93-a34a-a14a89c59d04",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "storico_chat",
        "key": "=chat_history:{{ $('Webhook_Internal').item.json.body.sessionid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -192,
        -48
      ],
      "id": "3fbcd335-8b38-4208-96e6-2ea9ddf8ca90",
      "name": "Redis Get chat",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "DDD Analyst": {
      "main": [
        [
          {
            "node": "JSON coder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON coder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "DDD Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "DDD Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "JSON coder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis Get chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "DOMAIN INTERVIEWER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CONTEXT INTERVIEWER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EVENT INTERVIEWER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PATTERN INTERVIEWER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESILIENCE INTERVIEWER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "DOMAIN INTERVIEWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "RESILIENCE INTERVIEWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "PATTERN INTERVIEWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "EVENT INTERVIEWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "CONTEXT INTERVIEWER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "DOMAIN INTERVIEWER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "CONTEXT INTERVIEWER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "EVENT INTERVIEWER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "PATTERN INTERVIEWER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory6": {
      "ai_memory": [
        [
          {
            "node": "RESILIENCE INTERVIEWER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DOMAIN INTERVIEWER": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EVENT INTERVIEWER": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATTERN INTERVIEWER": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESILIENCE INTERVIEWER": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTEXT INTERVIEWER": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "DDD Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Internal": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ORCHESTRATOR": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ORCHESTRATOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get chat": {
      "main": [
        [
          {
            "node": "ORCHESTRATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62dd5be2-6dca-41c5-9c12-ab2dee126d7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a68bcd1f54fc16001268dd9a7486b5178c7ab47e17f96b422167fc3c8d9cc1"
  },
  "id": "iJSUBldIHUfKM37y",
  "tags": []
}