workflow/POLLING WORKFLOW_LOCALE.json
{
  "name": "POLLING WORKFLOW_LOCALE",
  "nodes": [
    {
      "parameters": {
        "path": "check-status-locale",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "757b376a-23ed-491a-a7b1-d2439a4ad4d6",
      "name": "Webhook",
      "webhookId": "8b81c99c-d35a-48e8-99b9-59510dfca65f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "discovery_data",
        "key": "=discovery_json:{{ $('Webhook').item.json.query.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "857779f7-7858-4a40-a677-dbf83eb601f6",
      "name": "Redis",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d284e795-9e1e-4cb4-911c-059ff351a031",
              "name": "discovery_json",
              "value": "={{ $('Redis').item.json.discovery_data || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "2d838311-eb6f-4907-a313-b7137ad1c1b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "e3180d16-500d-42b5-8ad5-ae26933c013c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2bfd8099-0c80-4502-873d-dac9fc4a4e20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a68bcd1f54fc16001268dd9a7486b5178c7ab47e17f96b422167fc3c8d9cc1"
  },
  "id": "PcQZAEG8CqYLLQb3",
  "tags": []
}