workflow/POLLING WORKFLOW_LOCALE.json
{
  "name": "POLLING WORKFLOW_LOCALE",
  "nodes": [
    {
      "parameters": {
        "path": "check-status-locale",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "757b376a-23ed-491a-a7b1-d2439a4ad4d6",
      "name": "Webhook",
      "webhookId": "8b81c99c-d35a-48e8-99b9-59510dfca65f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "discovery_data",
        "key": "=discovery_json:{{ $('Webhook').item.json.query.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "857779f7-7858-4a40-a677-dbf83eb601f6",
      "name": "Redis",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "draft_data",
        "key": "=draft_json:{{ $('Webhook').item.json.query.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "6fb9c764-0b09-4491-b81e-b39c49635757",
      "name": "Redis1",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "draft_status",
        "key": "=draft_status:{{ $('Webhook').item.json.query.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "e4d79d59-b322-420e-b1a1-fa12357753b9",
      "name": "Redis2",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d284e795-9e1e-4cb4-911c-059ff351a031",
              "name": "discovery_json",
              "value": "={{ $json.discovery_data || null }}",
              "type": "string"
            },
            {
              "id": "aaf6eddd-0b87-42a0-997f-45cb9178241f",
              "name": "draft_json",
              "value": "={{ $json.draft_data || null }}",
              "type": "string"
            },
            {
              "id": "9dbc1efb-dd6d-435d-b5d1-51fd0a9122e4",
              "name": "draft_status",
              "value": "={{ $json.draft_status || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "2d838311-eb6f-4907-a313-b7137ad1c1b5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e0a4d4be-bc0c-4a1a-8992-a77859921286",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a68bcd1f54fc16001268dd9a7486b5178c7ab47e17f96b422167fc3c8d9cc1"
  },
  "id": "PcQZAEG8CqYLLQb3",
  "tags": []
}