workflow/REFINEMENT WORKFLOW_locale.json
{
  "name": "REFINEMENT WORKFLOW_locale",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.esito }}",
                    "rightValue": "PASS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "25fb59fc-4943-4803-acd9-0aa3097fcbaa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edfb9cff-4265-45aa-a67f-eb57ff693e11",
                    "leftValue": "={{ $json.esito }}",
                    "rightValue": "WAIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        640,
        -48
      ],
      "id": "47d54451-2186-4721-8f64-03989a198097",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0620a30-c8f9-4c9d-b205-9bb9488f4828",
              "name": "markdown_receipt",
              "value": "={{ $('Tag extractor').item.json.messaggio_utente }}",
              "type": "string"
            },
            {
              "id": "216ee78b-c7a9-4ca7-bb63-fa6c0e683df5",
              "name": "draft_tags",
              "value": "={{ $('Tag extractor').item.json.tag_tecnici }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -176
      ],
      "id": "549da277-7ed9-4003-8f53-538f8148b397",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "architecture_json",
        "key": "=discovery_json:{{ $('Webhook_Internal').item.json.body.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "2441986a-fd23-4436-81a5-08f8a8923b15",
      "name": "Redis Get json",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=draft_json:{{ $('Webhook_Internal').item.json.body.sessionId }}",
        "value": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        -176
      ],
      "id": "2c141e03-a557-4cd0-8d46-56e6230837aa",
      "name": "Redis set drafted json",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"proposal\", \"output\": $json.markdown_receipt } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        -176
      ],
      "id": "39a838fc-a48e-4906-998d-f622c9a68276",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"clarify\", \"output\": $json.messaggio_utente } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        64
      ],
      "id": "fa4ab9e5-2658-4e60-8d53-9a58e56df16b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook_Internal').item.json.body.action }}",
                    "rightValue": "explain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "64cf0b50-97e9-4089-8a43-d29a6d15cfe8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39d3489e-2dd9-41a3-885b-0cfff9930688",
                    "leftValue": "={{ $('Webhook_Internal').item.json.body.action }}",
                    "rightValue": "modify",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        -64
      ],
      "id": "0a7e34f3-65f0-446b-8d14-a43b0beb61e1",
      "name": "Switch2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Request for Architecture Update: {{ $('Webhook_Internal').item.json.body.message }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a Senior Software Architect and Domain Expert specializing in Domain-Driven Design (DDD) and Event-Driven Architecture (EDA). Your goal is to translate user feedback into surgical structural updates.\n\n# CONTEXT\nCurrent Architecture State: {{ $node[\"Redis Get json\"].json.architecture_json }}\n\n# GROUNDING & SAFETY RULES\n1. STRICT GROUNDING: Verify the existence of every component in the \"JSON GOLD\" before responding.\n2. VAGUE OR OVERWHELMING REQUESTS: If the request is vague, lacks technical detail, or touches too many things at once, DO NOT generate a proposal. Output a normal conversational message in Italian explaining the problem and asking for clarification.\n\n# RESPONSE FORMAT: THE MARKDOWN RECEIPT\nIf the request is clear, valid, and actionable, you MUST output ONLY a strictly formatted Markdown block. This block acts both as a summary for the user and as a data source for the system.\nYou MUST use these exact bold labels and provide the corresponding technical data:\n\n**Proposta di Modifica Architetturale:**\n* **Azione:** [Must be exactly ADD, MODIFY, or DELETE]\n* **Sezione Target:** [Must be the exact JSON root key, e.g., boundaries_and_language]\n* **Path Interno:** [The exact JSON array/object path, e.g., bounded_contexts[0].aggregate_roots[0].entities]\n* **Elemento:** [The exact name of the entity, event, or element]\n* **Dettagli/Payload:** [The data to inject. MUST BE ON ONE LINE. For attributes: attributes: ['attr1', 'attr2']. For events you MUST use EXACTLY this format: produced_by_aggregate: [Name], produced_in_context: [Name], trigger_condition: [Trigger]. Use NESSUNO if not applicable.]\n\nExample for ADD:\n**Proposta di Modifica Architetturale:**\n* **Azione:** ADD\n* **Sezione Target:** boundaries_and_language\n* **Path Interno:** bounded_contexts[0].aggregate_roots[0].entities\n* **Elemento:** Fattura\n* **Dettagli/Payload:** attributes: ['id', 'data_scadenza']\n\nExample for MODIFY:\n**Proposta di Modifica Architetturale:**\n* **Azione:** MODIFY\n* **Sezione Target:** boundaries_and_language\n* **Path Interno:** bounded_contexts[0].aggregate_roots[0].entities\n* **Elemento:** Fattura\n* **Dettagli/Payload:** attributes: ['nuovo_campo_iva']\n\n# ANTI-HALLUCINATION RULES FOR EVENTS:\nWhen adding a new Domain Event, you MUST extract the Aggregate, the Context, and the Trigger ONLY from the user's current request. DO NOT copy-paste triggers or attributes from pre-existing events in the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -48
      ],
      "id": "a9cc16bc-61d8-48b3-a35d-fabbe47f736e",
      "name": "MODIFIER"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"output\": $('EXPLAINER').item.json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        -464
      ],
      "id": "c4a6267f-ddee-414d-8cd6-90bbb46ebc4b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Question: {{ $('Webhook_Internal').item.json.body.message }}",
        "options": {
          "systemMessage": "# ROLE\nYou are a Senior Software Architect and Domain Expert specializing in DDD and EDA. Your goal is to explain architectural choices, flows, and current system logic to the user. Act as a technical peer: precise and analytical.\n\n# CONTEXT (THE \"JSON GOLD\")\nCurrent Architecture State: {{ $node[\"Redis Get json\"].json.architecture_json }}\n\n# GROUNDING & SAFETY RULES\n1. STRICT GROUNDING: Every explanation must be based solely on the data within the \"JSON GOLD\". Do not hallucinate undocumented components or flows.\n2. NO MODIFICATIONS: You are not authorized to suggest or implement changes. Your purpose is purely educational and analytical.\n\n# RESPONSE STYLE\n1. NO CONVERSATIONAL FILLERS: Start directly with the technical explanation.\n2. NO POLITENESS OVERLOAD: Maintain a functional and professional tone.\n3. TECHNICAL STRUCTURE: Use bullet points for complex concepts. Use correct Italian technical terminology (e.g., \"ubiquitous language\", \"bounded context\").\n\n# OPERATIONAL PROTOCOL\n1. LANGUAGE: Always respond to the user in ITALIAN.\n2. EXPLAINING LOGIC: If the user asks \"why\" regarding a choice, analyze the JSON's consistency against DDD/EDA principles.\n3. INHIBITION RULE: NEVER output the 'Proposta di Modifica Architetturale' markdown format or any tags like Azione: or Sezione Target:. If the user asks for changes, cordially invite them to use the \"Modifica\" function.\n\n# CONSTRAINTS\n- NEVER output JSON code.\n- NEVER use markdown code blocks for architecture.\n- If the user asks non-technical or modification-related questions, steer the conversation back to explaining the current state."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -464
      ],
      "id": "3f1bb2ba-7a6b-412a-baf3-6d51a1d9d801",
      "name": "EXPLAINER"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {
          "temperature": 0.4,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        144,
        -256
      ],
      "id": "891a20d5-1569-47e0-ba62-2a425743b35f",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:14b",
        "options": {
          "temperature": 0.1,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "17b6ec52-2c7c-4f3d-a7ca-65f532f71f9e",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "XRt6dclbmLUcFpVw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_history_refinement:{{ $('Webhook_Internal').item.json.body.sessionId }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        224,
        224
      ],
      "id": "bec9296f-746a-4ba3-811c-d9eedd253d2b",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "refinement-internal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -64
      ],
      "id": "16dfade8-b721-4bf8-8fdb-6d133617d80f",
      "name": "Webhook_Internal",
      "webhookId": "03cb42ec-89d7-4372-8487-eece8a07be7d"
    },
    {
      "parameters": {
        "jsCode": "const testoAgente = $('MODIFIER').first().json.output;\n\n// 1. L'agente ha parlato in linguaggio naturale?\nif (!testoAgente.includes(\"**Azione:**\") || !testoAgente.includes(\"**Sezione Target:**\")) {\n    return {\n        esito: \"WAIT\",\n        messaggio_utente: testoAgente\n    };\n}\n\n// 2. Estrazione dati con Regex\nconst actionMatch  = testoAgente.match(/\\*\\*\\s*Azione\\s*:\\s*\\*\\*\\s*(ADD|MODIFY|DELETE|MOVE)/i);\nconst sectionMatch = testoAgente.match(/\\*\\*\\s*Sezione Target\\s*:\\s*\\*\\*\\s*([a-zA-Z_]+)/i);\nconst pathMatch    = testoAgente.match(/\\*\\*\\s*Path Interno\\s*:\\s*\\*\\*\\s*([^\\n]+)/i);\nconst elementMatch = testoAgente.match(/\\*\\*\\s*Elemento\\s*:\\s*\\*\\*\\s*([^\\n]+)/i);\nconst payloadMatch = testoAgente.match(/\\*\\*\\s*Dettagli\\s*\\/\\s*Payload\\s*:\\s*\\*\\*\\s*([\\s\\S]+)/i);\n\n// 3. Verifica di integrità\nif (!actionMatch || !sectionMatch || !pathMatch || !elementMatch) {\n    return {\n        esito: \"WAIT\",\n        messaggio_utente: \"Ho capito la tua richiesta, ma si è verificato un errore tecnico nel generare le coordinate della modifica...\"\n    };\n}\n\n// --- MODIFICA CHIRURGICA QUI ---\n// Estraiamo il payload e rimuoviamo virgolette esterne (singole o doppie) e spazi superflui\nconst rawPayload = payloadMatch ? payloadMatch[1].trim() : \"NESSUNO\";\nconst cleanPayload = rawPayload.replace(/^[\"']|[\"']$/g, ''); \n\n// 4. Estrazione avvenuta con successo\nreturn {\n    esito: \"PASS\",\n    messaggio_utente: testoAgente,\n    tag_tecnici: {\n        action: actionMatch[1].trim().toUpperCase(),\n        target_section: sectionMatch[1].trim(),\n        target_path: pathMatch[1].trim(),\n        key_identifier: elementMatch[1].trim(),\n        data_payload: cleanPayload // Usiamo il payload pulito\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -48
      ],
      "id": "60bafe40-4b30-48bc-a395-50d149a8c4a7",
      "name": "Tag extractor"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis set drafted json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get json": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis set drafted json": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "EXPLAINER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MODIFIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXPLAINER": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "EXPLAINER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "MODIFIER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "MODIFIER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MODIFIER": {
      "main": [
        [
          {
            "node": "Tag extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Internal": {
      "main": [
        [
          {
            "node": "Redis Get json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag extractor": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e5d1cc2-a66c-4118-899a-43a5f04e4593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a68bcd1f54fc16001268dd9a7486b5178c7ab47e17f96b422167fc3c8d9cc1"
  },
  "id": "6MstrHh0fSDHkL5j",
  "tags": []
}