workflow/Routing_locale.json
{
  "name": "Routing_locale",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-locale",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "54216fae-e2a4-4893-84b1-285502a5444f",
      "name": "Webhook",
      "webhookId": "d3bb6f5d-e064-44f3-bebf-03ceabffe12f"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "check_json_exists",
        "key": "=discovery_json:{{ $('Webhook').item.json.body.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "110e3b19-d0be-457d-ba91-c6e017a67984",
      "name": "Redis Get",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "663303c7-052b-4971-8f46-aa8aa474b492",
              "leftValue": "={{ $json.check_json_exists }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "e716b110-5612-41d8-aa0d-3585a65b1888",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "phase",
        "key": "=discovery_phase:{{ $('Webhook').item.json.body.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        640,
        -144
      ],
      "id": "34cf3923-ee43-4115-b6aa-8d64527a1f19",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f4c8601-cb13-419a-982f-3b395641ad32",
              "leftValue": "={{ $json.phase}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        -144
      ],
      "id": "fe2f4d29-3197-4671-beaa-62f3638bb9e0",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=discovery_phase:{{ $('Webhook').item.json.body.sessionId }}",
        "value": "1"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "1b4fe70b-f989-42fd-9488-5633100ada27",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "G3AmE16QK8P1M12m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/discovery-internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}"
            },
            {
              "name": "sessionid",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1280,
        -160
      ],
      "id": "4c14729e-f20c-41a5-b6f4-3c990b42731a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/refinement-internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}"
            },
            {
              "name": "sessionid",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "name": "action",
              "value": "={{ $('Webhook').item.json.body.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        112
      ],
      "id": "101dac1e-3661-4728-8d7d-b602d5e24855",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Redis Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "56e59f8e-c872-4686-b818-06e9e1e1e4c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a68bcd1f54fc16001268dd9a7486b5178c7ab47e17f96b422167fc3c8d9cc1"
  },
  "id": "DdM9ZC4uV20eN9Zq",
  "tags": []
}